.navbar a {

  font-size: 11px;

  margin-right: 16px;
  text-transform: uppercase;
}

.panel-footer{text-align: right;}
jumbotron{
  padding-top: 344px;
}
.blue {
    color: blue;
}

.mwh{
  max-width: 150px;
  max-height: 150px;

}